<!-- py to have more padding,  mt-auto 让footer自动到页面bottom-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; HavenCamp 2021</span>
    </div>
</footer>