<!-- refer to the boilerplate layout -->
<% layout('./layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <!-- add new campground -->
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <!-- show all campgrounds -->
    <ul>
        <!-- campgrounds is rendered from app.js -->
        <% for (let campground of campgrounds) {%>
            <li>
                <!-- anchor of the campus ground title -->
                <a href="/campgrounds/<%= campground._id %> ">
                    <%= campground.title %>
                </a>
            </li>
            <% } %>
    </ul>