<!-- refer to the boilerplate layout -->
<% layout('./layouts/boilerplate') %>

    <form action="/campgrounds" method="post">
        <div>
            <!-- id is used for label, name is used for req.param in js -->
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Add Campground</button>
    </form>
    <!-- back button to all canpgrounds-->
    <a href="/campgrounds">All Campgrounds</a>