<!-- refer to the boilerplate layout -->
<% layout('./layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <!-- offset3 能让这个div处于12个单位的正中间 -->
        <div class="col-6 offset-3">

            <!-- ask brower not to validate since Bootstrap will take over -->
            <form class="validated-form" action="/campgrounds" method="post" novalidate>
                <div class="mb-3">
                    <!-- id is used for label, name is used for req.param in js -->
                    <!-- form-label and form-control is important -->
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <!-- when input is valid, given this feedback -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- Location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <!-- when input is valid, given this feedback -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- Img -->
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <!-- when input is valid, given this feedback -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- Price -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00"
                            aria-describedby="price-label" required>
                    </div>
                </div>

                <!-- description -->
                <div class="mb-3">
                    <!-- description use textarea to allow expand -->
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <!-- when input is valid, given this feedback -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- button -->
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>

            </form>
            <!-- back button to all canpgrounds-->
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>